@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #198817;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
    --cor-de-fundo: #198817;
    --verde: #b4f363;
    --branco: #b4f363;
    --botao-ativo: #198817;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: #ffffff;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #198817;
    font-weight: 600;
}

.inicio-fundo {
    background-image: url('Fundo.Turvo.jpg');
    title="Fundo com uma imagem de Turvo Paraná" alt="adaptado: https://g1.globo.com/google/amp/pr/campos-gerais-sul/especial-publicitario/prefeitura-de-turvo/turvo-a-capital-dos-pinheirais/noticia/2023/08/02/descubra-as-maravilhas-naturais-de-turvo-aventura-e-beleza-em-um-so-lugar.ghtml";
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.esquerda-conteudo1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

#parana {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('Detalhe.2.png') top right no-repeat,
        url('Detalhe.1.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#parana .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}


#parana1 {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('Detalhe.2.png') top right no-repeat,
        url('Detalhe.1.png') bottom left no-repeat;
    background-size: 180px 180px;
}
#parana2 {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('Detalhe.2.png') top right no-repeat,
        url('Detalhe.1.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#parana3 {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('Detalhe.2.png') top right no-repeat,
        url('Detalhe.1.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#parana4 {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('Detalhe.2.png') top right no-repeat,
        url('Detalhe.1.png') bottom left no-repeat;
    background-size: 180px 180px;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

.conteudo-principal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
  }

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span {
    color: var(--verde);
}
.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #F1EDEF;
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botoes {
    display: block;
}
.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos{
    background-color:#F1EDEF;
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-family: 'Lemon', serif;
    font-size: 28px;
    text-align: center;
    color: #51ff1d;
    
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.contador{
    font-size: 20px;
    text-align: center;
    background-color:#F1EDEF;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}
.contador-digito-numero{
    font-size: 80px;
    margin: 0;
}
.contador-digito-texto{
    color: var(--verde);
    font-size: 20px;
    margin: 0;
}

.lista-menu {
    background-color:#F1EDEF;
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}


@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }
}

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
        }

#galeria {
    background-color: #ffffff;

}

.fundo-galeria {
    background: url('Detalhe.3.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('Fundo.2.jpg');
    title="Fundo com uma imagem das Cataratas do Iguaçu" alt="adaptado: https://www.temporadalivre.com/blog/os-principais-pontos-turisticos-do-parana";
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: #198817;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

.alto-contraste #parana {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
  }
